<div class="container">
    <div class="row">
        <div class="column">
            <section class="phx-hero">
                <h1>Vote on Stuff</h1>
                <p>There's always stuff to vote on.</p>
            </section>
        </div>
    </div>
</div>
