/* This file is for your main application css. */
@import "./phoenix.scss";
@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

body {
    font-family: 'Oxygen', sans-serif !important;
}

/* LiveView specific classes for your customizations */
.phx-no-feedback.invalid-feedback,
.phx-no-feedback .invalid-feedback {
  display: none;
}

.phx-click-loading {
  opacity: 0.5;
  transition: opacity 1s ease-out;
}

.phx-disconnected{
  cursor: wait;
}
.phx-disconnected *{
  pointer-events: none;
}

.phx-modal {
  opacity: 1!important;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.phx-modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.phx-modal-close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.phx-modal-close:hover,
.phx-modal-close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}


/* Alerts and form errors */
.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}
.alert-info {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}
.alert-warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}
.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}
.alert p {
  margin-bottom: 0;
}
.alert:empty {
  display: none;
}
.invalid-feedback {
  color: #a94442;
  display: block;
  margin: -1rem 0 2rem;
}

body {
    margin: 0;
}

header {
    .logo-container {
        h1 {
            margin: 0 0 1rem 0;
            // font-family: 'Patrick Hand', cursive;
            // font-family: 'Oswald', sans-serif;
            // font-family: 'Fascinate', cursive;
            // font-family: 'Lobster', cursive;
            font-family: 'Pacifico', cursive;
        }
        margin: 2rem 0rem 1rem 0rem;
    }
}

.splash-container {
    flex-direction: column;
    align-items: center;
    img.splash {
        max-height: 50vh;
    }
}

.auth-forms {
    .login {
        form {
            margin-bottom: 0;
        }
        p {
            margin-bottom: 1rem;
        }
    }
}

input[type="checkbox"]
{
    vertical-align: baseline;
    margin-top: 5px;
}

form.mixed-form {
    blockquote {
        margin-top: 0;
    }

    .settings-start {
        margin-top: 1.5rem;
    }
}

a.btn-delete {
    font-size: 1.7rem;
    margin-left: 2rem;
}

ol.input_container {
    li {
        display: flex;
        flex-direction: row;
        input {
            margin: 0;
        }
        a {
            margin-left: 1rem;
            margin-bottom: 0;
        }
    }
    margin-bottom: 2rem;
}

.container {
    ol {
        list-style: decimal outside;
    }
}

.inline {
    display: flex;
    align-items: baseline;
}
.inline > *:not(:last-child) {
    margin-right: 1rem;
}

.new-ballot {
    .ballot-item-container {
        // margin: 0 1rem 0 1rem;
        .ballot-item-settings {
            display: flex;
            align-items: baseline;
            label {
                margin-right: 1rem;
            }
        }
    }
    .new-ballot-buttons {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    padding: 0;
    div.main-control {
        margin: 0;
        width: 100%;
        a, button {
            margin-right: 0.5rem;
            margin-left: 0.5rem;
        }
    }
}

table.drag-table {
    margin-bottom: 1rem;
    border-bottom: 0.1rem solid #e1e1e1;
    td.opt-drag {
        cursor: move;
    }
    td {
        border-top: 0.1rem solid #e1e1e1;
        background-color: white;
    }
    td.opt-name, th.opt-name-header {
        width: 100%;
    }
    tr.sortable_clone {
    }
    th.drag-header {
        padding-right: 1.5rem;
        white-space: nowrap;
    }
    tr.rank-divider td {
        opacity: 0.7;
        background-color: #e1e1e1;
        padding: 0.2rem 0;
    }
}

.ballot-view {
    .ballot-desc :last-child {
        margin-bottom: 0rem;
    }
    .ballot-item-desc {
    }
}

table.rank-table {
    td:first-child, th:first-child, td:last-child, th:last-child {
        padding: 1rem 1.5rem;
    }
    .opt-name, .opt-name-header {
        width: 100%;
    }
    .opt-rating {
        .stars-container {
            display: flex;
            flex-direction: row-reverse;
            align-items: center;
            input {
                display: none;
            }
            label:last-child:before {
                content: "×";
                margin-right: 0.7rem;
                font-size: 3rem;
                color: rgba(0, 0, 0, 0.4);
            }
            label:last-child {
                margin-top: -4px;
            }
            label {
                padding: 0 0.3rem;
                margin: 0;
                margin-top: -2px;
            }
            label:before {
                content: "⭐";
                opacity: 0.4;
                filter: grayscale(100%);
            }
            label:hover:before,
            label:hover ~ label:before,
            input:checked ~ label:before,
            input:checked ~ label:before {
                opacity: 1;
                filter: none;
            }
        }
    }
    tbody tr:hover {
        background-color: rgba(0, 0, 0, 0.05);
    }
}

table.approval-table {
    td:first-child, th:first-child, td:last-child, th:last-child {
        padding: 1rem 1.5rem;
    }
    .opt-name, .opt-name-header {
        width: 100%;
    }
    tbody tr:hover {
        background-color: rgba(0, 0, 0, 0.05);
    }
    input {
        margin: 0.5rem;
    }
    td.opt-approval-header, td.opt-approval {
        text-align: center;
    }
}

table.select-one-table {
    td:first-child, th:first-child, td:last-child, th:last-child {
        padding: 1rem 1.5rem;
    }
    .opt-name, .opt-name-header {
        width: 100%;
    }
    tbody tr:hover {
        background-color: rgba(0, 0, 0, 0.05);
    }
    input {
        margin: 0.5rem;
    }
    td.opt-select-one-header, td.opt-select-one {
        text-align: center;
    }
    tbody tr:last-child td.opt-name {
        font-style: italic;
        opacity: 0.6;
    }
}

.modal-container {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.3);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;

    .modal-content {
        background-color: #fefefe;
        padding: 1rem;
        border-radius: 5px;
        position: relative;
        z-index: 1010;

        .btn-close {
            color: #aaaaaa;
            font-size: 30px;
            text-decoration: none;
            padding-right:7px;
            position: absolute;
            right: 7px;
            top: 0;
        }

        .modal-header {
            margin-top: 5px;
            margin-bottom: 15px;
            margin-right: 3rem;
        }

        .modal-controls a {
            margin-right: 1rem;
        }
    }
}

.ml1 {
    margin-left: 1rem;
}

.mr1 {
    margin-right: 1rem;
}

.mb1 {
    margin-bottom: 1rem;
}

.mb0 {
    margin-bottom: 0rem;
}

.m-around {
    margin-right: 0.5rem;
    margin-left: 0.5rem;
}

.ta-center {
    text-align: center;
}

.ta-right {
    text-align: right;
}

.fl-baseline {
    align-items: baseline;
}

.w100 {
    width: 100%;
}
