<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="shortcut icon" type="image/jpg" href="<%= Routes.static_path(@conn, "/tbd.ico") %>"/>
    <%= csrf_meta_tag() %>
    <%= live_title_tag assigns[:page_title] || "", suffix: " • 🗳️💃🕺 Poll Dance.io" %>
    <link phx-track-static rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <script defer phx-track-static type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </head>
  <body>
    <header>
      <section class="container">
        <div class="row logo-container">
          <div class="column" style="order:1">
            <a href="/">
              <h1>🗳️💃🕺 Poll Dance.io</h1>
            </a>
          </div>
          <div class="column" style="order:4">
            <nav role="navigation">
              <ul style="margin:0">
                <%= if assigns[:account] do %>
                  <li><%= @account.email %></li>
                  <li><%= link("Log Out", to: Routes.auth_path(@conn, :logout), method: :delete) %></li>
                <% end %>
              </ul>
            </nav>
          </div>
        </div>
      </section>
    </header>
    <%= @inner_content %>
  </body>
</html>
